# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/cocos2d/cocos/2d/Debug.win32
/cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32
/proj.win32/.vs/MayhemRoyale
/proj.win32/Debug
/proj.win32/Debug.win32
/proj.win32/MasterServer/Debug
/out/build/x64-Debug
